i.md-e {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-size: cover;
    vertical-align: -.25em;
    font-style: normal;
}

i.md-e-angel {
    background-image: url('https://macestudios.ru/contestmoji/list/Angel.svg');
}
i.md-e-angeldreamy {
    background-image: url('https://macestudios.ru/contestmoji/list/AngelDreamy.svg');
}
i.md-e-annoyed {
    background-image: url('https://macestudios.ru/contestmoji/list/Annoyed.svg');
}
i.md-e-boom {
    background-image: url('https://macestudios.ru/contestmoji/list/Boom.svg');
}
i.md-e-boomnight {
    background-image: url('https://macestudios.ru/contestmoji/list/BoomNight.svg');
}
i.md-e-brickblue {
    background-image: url('https://macestudios.ru/contestmoji/list/BrickBlue.svg');
}
i.md-e-buffoon {
    background-image: url('https://macestudios.ru/contestmoji/list/Buffoon.svg');
}
i.md-e-buttonblack {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonBlack.svg');
}
i.md-e-buttoncircle {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonCircle.svg');
}
i.md-e-buttonempty {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonEmpty.svg');
}
i.md-e-buttongray {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonGray.svg');
}
i.md-e-buttonheart {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonHeart.svg');
}
i.md-e-buttonsparkle {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonSparkle.svg');
}
i.md-e-buttonsquare {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonSquare.svg');
}
i.md-e-buttontriangle {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonTriangle.svg');
}
i.md-e-buttonwhite {
    background-image: url('https://macestudios.ru/contestmoji/list/ButtonWhite.svg');
}
i.md-e-catcute {
    background-image: url('https://macestudios.ru/contestmoji/list/CatCute.svg');
}
i.md-e-catgrin {
    background-image: url('https://macestudios.ru/contestmoji/list/CatGrin.svg');
}
i.md-e-catjoy {
    background-image: url('https://macestudios.ru/contestmoji/list/CatJoy.svg');
}
i.md-e-catpensive {
    background-image: url('https://macestudios.ru/contestmoji/list/CatPensive.svg');
}
i.md-e-catrage {
    background-image: url('https://macestudios.ru/contestmoji/list/CatRage.svg');
}
i.md-e-catsmirking {
    background-image: url('https://macestudios.ru/contestmoji/list/CatSmirking.svg');
}
i.md-e-chair {
    background-image: url('https://macestudios.ru/contestmoji/list/Chair.svg');
}
i.md-e-checkmark {
    background-image: url('https://macestudios.ru/contestmoji/list/Checkmark.svg');
}
i.md-e-clown {
    background-image: url('https://macestudios.ru/contestmoji/list/Clown.svg');
}
i.md-e-clownpensive {
    background-image: url('https://macestudios.ru/contestmoji/list/ClownPensive.svg');
}
i.md-e-cold {
    background-image: url('https://macestudios.ru/contestmoji/list/Cold.svg');
}
i.md-e-cowboy {
    background-image: url('https://macestudios.ru/contestmoji/list/Cowboy.svg');
}
i.md-e-cross {
    background-image: url('https://macestudios.ru/contestmoji/list/Cross.svg');
}
i.md-e-excited {
    background-image: url('https://macestudios.ru/contestmoji/list/Excited.svg');
}
i.md-e-expressionless {
    background-image: url('https://macestudios.ru/contestmoji/list/Expressionless.svg');
}
i.md-e-fear {
    background-image: url('https://macestudios.ru/contestmoji/list/Fear.svg');
}
i.md-e-fire {
    background-image: url('https://macestudios.ru/contestmoji/list/Fire.svg');
}
i.md-e-flagblack {
    background-image: url('https://macestudios.ru/contestmoji/list/FlagBlack.svg');
}
i.md-e-flagfinish {
    background-image: url('https://macestudios.ru/contestmoji/list/FlagFinish.svg');
}
i.md-e-flagpirate {
    background-image: url('https://macestudios.ru/contestmoji/list/FlagPirate.svg');
}
i.md-e-flagrainbow {
    background-image: url('https://macestudios.ru/contestmoji/list/FlagRainbow.svg');
}
i.md-e-flagtrans {
    background-image: url('https://macestudios.ru/contestmoji/list/FlagTrans.svg');
}
i.md-e-flagtriangle {
    background-image: url('https://macestudios.ru/contestmoji/list/FlagTriangle.svg');
}
i.md-e-flagwhite {
    background-image: url('https://macestudios.ru/contestmoji/list/FlagWhite.svg');
}
i.md-e-grin {
    background-image: url('https://macestudios.ru/contestmoji/list/Grin.svg');
}
i.md-e-grinbigeyes {
    background-image: url('https://macestudios.ru/contestmoji/list/GrinBigEyes.svg');
}
i.md-e-grinsmile {
    background-image: url('https://macestudios.ru/contestmoji/list/GrinSmile.svg');
}
i.md-e-grinsweat {
    background-image: url('https://macestudios.ru/contestmoji/list/GrinSweat.svg');
}
i.md-e-heartblack {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartBlack.svg');
}
i.md-e-heartblue {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartBlue.svg');
}
i.md-e-heartbrown {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartBrown.svg');
}
i.md-e-heartcyan {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartCyan.svg');
}
i.md-e-hearteyes {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartEyes.svg');
}
i.md-e-heartgreen {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartGreen.svg');
}
i.md-e-heartgrey {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartGrey.svg');
}
i.md-e-heartorange {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartOrange.svg');
}
i.md-e-heartpink {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartPink.svg');
}
i.md-e-heartpurple {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartPurple.svg');
}
i.md-e-heartred {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartRed.svg');
}
i.md-e-heartsaround {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartsAround.svg');
}
i.md-e-heartsparkling {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartSparkling.svg');
}
i.md-e-heartwhite {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartWhite.svg');
}
i.md-e-heartyellow {
    background-image: url('https://macestudios.ru/contestmoji/list/HeartYellow.svg');
}
i.md-e-hornsangry {
    background-image: url('https://macestudios.ru/contestmoji/list/HornsAngry.svg');
}
i.md-e-hornscat {
    background-image: url('https://macestudios.ru/contestmoji/list/HornsCat.svg');
}
i.md-e-hornsexcited {
    background-image: url('https://macestudios.ru/contestmoji/list/HornsExcited.svg');
}
i.md-e-hornspensive {
    background-image: url('https://macestudios.ru/contestmoji/list/HornsPensive.svg');
}
i.md-e-hornssmiling {
    background-image: url('https://macestudios.ru/contestmoji/list/HornsSmiling.svg');
}
i.md-e-hornssmirk {
    background-image: url('https://macestudios.ru/contestmoji/list/HornsSmirk.svg');
}
i.md-e-hot {
    background-image: url('https://macestudios.ru/contestmoji/list/Hot.svg');
}
i.md-e-invader {
    background-image: url('https://macestudios.ru/contestmoji/list/Invader.svg');
}
i.md-e-joy {
    background-image: url('https://macestudios.ru/contestmoji/list/Joy.svg');
}
i.md-e-like {
    background-image: url('https://macestudios.ru/contestmoji/list/Like.svg');
}
i.md-e-mouthless {
    background-image: url('https://macestudios.ru/contestmoji/list/Mouthless.svg');
}
i.md-e-nerd {
    background-image: url('https://macestudios.ru/contestmoji/list/Nerd.svg');
}
i.md-e-neutral {
    background-image: url('https://macestudios.ru/contestmoji/list/Neutral.svg');
}
i.md-e-pensive {
    background-image: url('https://macestudios.ru/contestmoji/list/Pensive.svg');
}
i.md-e-pleading {
    background-image: url('https://macestudios.ru/contestmoji/list/Pleading.svg');
}
i.md-e-quepro {
    background-image: url('https://macestudios.ru/contestmoji/list/QuePro.svg');
}
i.md-e-rage {
    background-image: url('https://macestudios.ru/contestmoji/list/Rage.svg');
}
i.md-e-ragecensored {
    background-image: url('https://macestudios.ru/contestmoji/list/RageCensored.svg');
}
i.md-e-raisedeyebrow {
    background-image: url('https://macestudios.ru/contestmoji/list/RaisedEyebrow.svg');
}
i.md-e-rofl {
    background-image: url('https://macestudios.ru/contestmoji/list/Rofl.svg');
}
i.md-e-santa {
    background-image: url('https://macestudios.ru/contestmoji/list/Santa.svg');
}
i.md-e-santapensive {
    background-image: url('https://macestudios.ru/contestmoji/list/SantaPensive.svg');
}
i.md-e-smile {
    background-image: url('https://macestudios.ru/contestmoji/list/Smile.svg');
}
i.md-e-smilehappy {
    background-image: url('https://macestudios.ru/contestmoji/list/SmileHappy.svg');
}
i.md-e-smirk {
    background-image: url('https://macestudios.ru/contestmoji/list/Smirk.svg');
}
i.md-e-sob {
    background-image: url('https://macestudios.ru/contestmoji/list/Sob.svg');
}
i.md-e-sobbing {
    background-image: url('https://macestudios.ru/contestmoji/list/Sobbing.svg');
}
i.md-e-sparkles {
    background-image: url('https://macestudios.ru/contestmoji/list/Sparkles.svg');
}
i.md-e-star {
    background-image: url('https://macestudios.ru/contestmoji/list/Star.svg');
}
i.md-e-sunglasses {
    background-image: url('https://macestudios.ru/contestmoji/list/Sunglasses.svg');
}
i.md-e-surprised {
    background-image: url('https://macestudios.ru/contestmoji/list/Surprised.svg');
}
i.md-e-unamused {
    background-image: url('https://macestudios.ru/contestmoji/list/Unamused.svg');
}
i.md-e-upsidedown {
    background-image: url('https://macestudios.ru/contestmoji/list/UpsideDown.svg');
}
i.md-e-wand {
    background-image: url('https://macestudios.ru/contestmoji/list/Wand.svg');
}
i.md-e-wave {
    background-image: url('https://macestudios.ru/contestmoji/list/Wave.svg');
}
i.md-e-wink {
    background-image: url('https://macestudios.ru/contestmoji/list/Wink.svg');
}
i.md-e-yawn {
    background-image: url('https://macestudios.ru/contestmoji/list/Yawn.svg');
}