i.mde {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    vertical-align: middle;
    font-style: normal;
}

i.mde-annoyed {
    background-image: url('https://macestudios.ru/tucmojicss/images/Annoyed.svg');
}
i.mde-boom {
    background-image: url('https://macestudios.ru/tucmojicss/images/Boom.svg');
}
i.mde-chair {
    background-image: url('https://macestudios.ru/tucmojicss/images/Chair.svg');
}
i.mde-cool {
    background-image: url('https://macestudios.ru/tucmojicss/images/Cool.svg');
}
i.mde-evil {
    background-image: url('https://macestudios.ru/tucmojicss/images/Evil.svg');
}
i.mde-fire {
    background-image: url('https://macestudios.ru/tucmojicss/images/Fire.svg');
}
i.mde-flag {
    background-image: url('https://macestudios.ru/tucmojicss/images/Flag.svg');
}
i.mde-heart {
    background-image: url('https://macestudios.ru/tucmojicss/images/Heart.svg');
}
i.mde-hearts {
    background-image: url('https://macestudios.ru/tucmojicss/images/Hearts.svg');
}
i.mde-hehe {
    background-image: url('https://macestudios.ru/tucmojicss/images/Hehe.svg');
}
i.mde-hello {
    background-image: url('https://macestudios.ru/tucmojicss/images/Hello.svg');
}
i.mde-imp-angry {
    background-image: url('https://macestudios.ru/tucmojicss/images/ImpAngry.svg');
}
i.mde-imp-evil {
    background-image: url('https://macestudios.ru/tucmojicss/images/ImpEvil.svg');
}
i.mde-joy {
    background-image: url('https://macestudios.ru/tucmojicss/images/Joy.svg');
}
i.mde-nerd {
    background-image: url('https://macestudios.ru/tucmojicss/images/Nerd.svg');
}
i.mde-neutral {
    background-image: url('https://macestudios.ru/tucmojicss/images/Neutral.svg');
}
i.mde-no {
    background-image: url('https://macestudios.ru/tucmojicss/images/No.svg');
}
i.mde-pleading {
    background-image: url('https://macestudios.ru/tucmojicss/images/Pleading.svg');
}
i.mde-rage {
    background-image: url('https://macestudios.ru/tucmojicss/images/Rage.svg');
}
i.mde-rofl {
    background-image: url('https://macestudios.ru/tucmojicss/images/Rofl.svg');
}
i.mde-santa {
    background-image: url('https://macestudios.ru/tucmojicss/images/Santa.svg');
}
i.mde-shock {
    background-image: url('https://macestudios.ru/tucmojicss/images/Shock.svg');
}
i.mde-sob {
    background-image: url('https://macestudios.ru/tucmojicss/images/Sob.svg');
}
i.mde-suspecting {
    background-image: url('https://macestudios.ru/tucmojicss/images/Suspecting.svg');
}
i.mde-wand {
    background-image: url('https://macestudios.ru/tucmojicss/images/Wand.svg');
}
i.mde-yawn {
    background-image: url('https://macestudios.ru/tucmojicss/images/Yawn.svg');
}
i.mde-yes {
    background-image: url('https://macestudios.ru/tucmojicss/images/Yes.svg');
}